# Environments
venv/
env/
__pycache__/
*.pyc

# Environment Variables & Secrets
.env
credentials.json
token.json
database.db

# Huge Model Weights (Optional: If your model is > 100MB, keep this here so Git doesn't crash)
models/